[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

alembic = "*"
blis = "*"
catalogue = "*"
certifi = "*"
chardet = "*"
click = "*"
Flask = "*"
Flask-Migrate = "*"
Flask-Script = "*"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"
fuzzywuzzy = "*"
gunicorn = "*"
itsdangerous = "*"
Jinja2 = "*"
Mako = "*"
spacy = "*"
pt_core_news_sm = { file = 'https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-2.2.5/pt_core_news_sm-2.2.5.tar.gz' }
MarkupSafe = "*"
mysql = "*"
Unidecode = "*"
mysql-connector = "*"
mysqlclient = "*"
numpy = "*"
pandas = "*"
python-dateutil = "*"
python-editor = "*"
pytz = "*"
six = "*"
SQLAlchemy = "*"
Werkzeug = "*"
WTForms = "*"

[requires]

python_version = "3.7.6"