[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

alembic = "*"
blis = "*"
catalogue = "*"
certifi = "*"
chardet = "*"
cymem= = "*"
click ="*"
Flask = "*"
Flask-Migrate = "*"
Flask-Script = "*"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"
fuzzywuzzy = "*"
gunicorn = "*"
itsdangerous = "*"
idna = "*"
importlib-metadata = "*"
murmurhash = "*"
plac = "*"
PyYAML = "*"
requests = "*"
spacy = "*"
zipp = "*"
srsly = "*"
thinc = "*"
tqdm = "*"
urllib3 = "*"
wasabi = "*"
preshed = "*"
Jinja2 = "*"
Mako = "*"
MarkupSafe = "*"
mysql = "*"
mysql-connector = "*"
mysqlclient = "*"
numpy = "*"
pandas = "*"
python-dateutil = "*"
python-editor = "*"
pytz = "*"
six = "*"
SQLAlchemy = "*"
Werkzeug = "*"
WTForms = "*"

[requires]

python_version = "3.7.6"